@import url("./base.css");
.header{
    background-color: var(--color7);
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 7.5rem 1fr 2rem;
    position: fixed;
    z-index: 2;
}
.header__logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__icon{
    width: 4rem;
    filter: drop-shadow(0px 0px 2px rgba(70, 70, 70, 0.75));
}
.header__nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 2rem;
}
.header__anchor{
    text-decoration: none;
    color: var(--color1);
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* Main */
.main{
    width: 100%;
    height: 100%;
    position: relative;
    top: 5rem;
    z-index: 1;
    margin-bottom: 10rem;
}
.landing-page{
    background-color: var(--color5);
    border-radius: 0rem 0rem 5rem 5rem;
    display: grid;
    grid-template-columns: 1fr 20rem;
    height: calc(95vh - 5rem);
    margin: 0rem auto;
    max-width: 81.25rem;
    overflow: hidden;
    position: relative;
    width: 90%;
    padding: 2rem;
}
.landing-page__text{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 10rem;

}
.landing-page__title{
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 800;
}
.landing-page__subtitle{
    color: var(--color4);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.landing-page__paragraph{margin-bottom: 1rem;}
.landing-page__btn{
    width: 12rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    padding: .75rem 1rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--color7);
    color: var(--color1);
    letter-spacing: 1.125px;
    cursor: pointer;
    font-weight: 600;
}
.landing-page__text-social{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 2.125rem;
}
.landing-page__anchor-social{
    text-decoration: none;
    background-color: var(--color4);
    padding: .25rem;
    border-radius: .25rem;
}
.landing-page__icon-social{
    height: 100%;
    width: 2.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-page__chair{width: 100%; height: 100%;}
.landing-page__icon{
    width: 15rem;
    position: absolute;
    bottom: 0;
    right: 3rem;
    z-index: 4;
}
.landing-page__box{
    width: 25rem;
    height: 15rem;
    background-color: rgb(45, 145, 166, .25);
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 100% 0% 5rem 0%;
    z-index: 3;
}
/* Menu Ham */
.header__checkbox{display: none;}
.header__menu-ham{cursor: pointer; display: none;}
.header__menu-icon{width: 2.75rem; display: block;}
.header__checkbox{display: none;}
.header__checkbox:checked ~.header__nav{left: 0rem;transition: left 200ms ease-in;}
/* Main */
.main__content{
    width: 90%;
    height: 100%;
    max-width: 81.25rem;
    margin: 3.125rem auto;
}
/* Services */
.services{width: 100%;height: 100%;}
.services__title{
    font-size: 2.125rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
}
.services__span{
    color: var(--color7);
}
.services-card{
    width: calc(100% - 2rem);
    height: 100%;
    border-bottom: 1px solid rgb(156, 189, 210);
    padding: 1rem;
    margin: 1rem;
}

.services-card__items{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 2.5rem 1fr;
    grid-template-areas: "A B"
                         "A C" ;
}
.services-card__icon{
    width: 6rem;
}
.services-card__icon-box{
    grid-area: A;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.services-card__title{
    grid-area: B;
    align-self: flex-end;
}
.services-card__paragraph{
    grid-area: C;
}
/* Footer */
.footer{
    width: 90%;
    max-width: 81.25rem;
    margin: 3.125rem auto 0rem;
    height: 14rem;
    background-color: var(--color5);
    border-radius: 5rem 5rem 0rem 0rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 1fr;
}
.footer__icon{
    width: 20rem;
    height: 18rem;
}
.footer__contact{
    padding: 3rem;
    width: 100%;
    height: 78%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}
.footer__contact-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow:  row nowrap;
    gap: 1rem;
}
.footer__icon-phone, 
.footer__icon-email,
.footer__icon-location{
    width: 1.5rem;
    background-color: var(--color1);
    padding: .125rem;
    border-radius: .25rem;
}
/* Media Queries */
@media screen and (max-width:992px) {
    html{
        font-size: 13px;
    }
    .landing-page{
        grid-template-columns: 1fr;
    }
    .header__menu-ham{
        align-self: center;
        display: block;
        height: 35.75px;
        justify-self: flex-end;
        width: 35.75px;
    }
    .header__nav{
        align-items: center;
        background-color: rgb(249 249 249);
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        box-shadow: 0px 0px 1px 1px rgba(228, 228, 228, 0.45);
        display: flex;
        flex-flow: column nowrap;
        gap: 0rem;
        height: 100vh;
        justify-content: flex-start;
        left: -20rem;
        overflow: hidden;
        position: fixed;
        top: 5rem;
        transition: left 200ms ease-out;
        width: 18rem;
        z-index: 5;
    }
    .header__anchor{
        width: 100%;
        height: 6rem;
        font-size: 1.25rem;
        padding: 1.125rem;
        color: #333;
        border-bottom: 1px solid rgba(133, 136, 138, 0.45);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: background-color 300ms ease-in-out;
    }
    .header__anchor:hover{background-color: rgb(196, 222, 238, .5); transition: background-color 300ms ease-in-out;}
    .landing-page__icon{width: 14rem;}
    .landing-page__text-social {justify-content: flex-start;align-items: flex-end;}
    .footer{grid-template-columns: 15rem 1fr;}
    .footer__icon {width: 17rem;height: 20rem;}

}
@media (orientation: landscape) and (max-height:580px) {
    html{
        font-size: 13px;
    }
    .landing-page__box{
        width: 15rem;
        height: 10rem;
    }
    .landing-page__icon {
        width: 10.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}