@import url(./bases.css);
/* Main Menu */
.menu{
    width: 100%;
    height: 5rem;
}
.menu__nav{
    width: 100%;
    height: 100%;
    background-color: var(--color16);
    display: grid;
    grid-template-columns: 12.5rem 1fr 1rem;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
.menu__logo{
    color: var(--color1);
    letter-spacing: .75px;
    font-size: 1.35rem;
    text-transform: uppercase;
    font-weight: 600;
}
.menu__list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}
.menu__item{list-style: none; position: relative;}
.menu__anchor{
    color: var(--color1);
    text-decoration: none;
    font-size: 1.0625rem;
    letter-spacing: 1.125px;
}
.menu__anchor::after{
    content: "";
    display: block;
    width: 0%;
    height: .25rem;
    border-radius: .75rem;
    background-color: #BA1F33;
    transition: width 400ms ease-out;
    position: absolute;
}
.menu__anchor:hover::after{
    width: 100%;
    transition: width 400ms ease-in;
}
.menu__ham--hidden{display: none;}

/* Main Content */
.main{
    width: 90%;
    max-width: 62.5rem;
    margin: 3.125rem auto;
}
.skill-set__title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}
.skill-set__list{list-style: none;}
.skill-set__item{
    position: relative;
    background-color: var(--color1);
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: .25rem;
    box-shadow: 0px 0px 2px 1px rgba(101, 101, 101, 0.3);
    cursor: pointer;
    transition: all 200ms ease-out;
}
.skill-set__item:hover{
    transform: translateX(1rem);
    transition: transform 200ms ease-in;
}
.skill-set__item::after{
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    vertical-align: middle;
}
.skill-set__item:not(.skill-set__item:last-child){
    margin-bottom: 1rem;
}
.skill-set__item--js::after{background-image: url(../icons/javascript.svg);}
.skill-set__item--css::after{background-image: url(../icons/css.svg);}
.skill-set__item--html::after{background-image: url(../icons/html.svg);}
.skill-set__item--py::after{background-image: url(../icons/python.svg);}
.skill-set__item--vue::after{background-image: url(../icons/vuejs.svg);}

/* Description */
.datase__title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}
.dataset{
    width: 100%;
    height: calc(100vh - 13.25rem);
    overflow: scroll;

}
.dataset__table{
    --border-color:#e2e2e2;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.dataset__theading,
.dataset__tdata{
    padding: .75rem 1rem;   
    border-collapse: collapse;
    text-align: center;
    font-size: 1.15rem;
}
.dataset__trow--data{border-bottom: 1px solid var(--border-color); cursor: pointer;}
.dataset__trow--data:nth-child(even){
    background-color: rgba(207, 207, 207, 0.5);
    transition: background-color 200ms ease-out;
}
.dataset__trow--data:nth-child(even):hover{
    background-color: rgba(226, 226, 226, 0.75);
    transition: background-color 200ms ease-in;
}

.dataset__theading{
    font-weight: 600;
    color: var(--color1);
}
.dataset__trow--head{
    background-color: var(--color6);
}
/* Description */
.services{
    width: 100%;
    height: calc(100vh - 11.25rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}
.services__boxes{
    width: 90%;
    height: 90%;
    background-color: var(--color1);
    border-radius: .75rem;
    padding: 1rem;
    box-shadow: 0px 0px 2px 1px rgba(185, 185, 185, 0.3);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.services__icon{
    width: 6rem;
}
.services__title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
/* Form contact */
.section_form{
    --letter-spacing: 0.06875rem;
    --form-color-text:#303030;

    width: 100%;
    height: 100%;
    min-height: 25rem;
    background-color: var(--color1);
    border-radius: .25rem;
    padding: 1.5rem;
    box-shadow: 0px 0px 3px 2px rgba(205, 205, 205, 0.726);
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}
.section_form__header{
    width: 100%;
    height: 100%;
}
.section_form__header__title{
    font-family: var(--fuente3);
    font-size: 1.75rem;
    color: var(--form-color-text);
}
.section_form__header__text{
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
    color: var(--form-color-text);
}
.form{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns:8rem 1fr;
    grid-template-rows: repeat(5, auto);
    align-items: center;
}
.form__label{
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: var(--letter-spacing);
    color: var(--form-color-text);
}
.form__input_text, 
.form__input_textarea{
    width: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    letter-spacing: var(--letter-spacing);
    border: 1px solid rgba(205, 205, 205, 0.726);
    padding: .5rem 1.5rem .5rem 1rem;
    font-weight: 400;
    font-size: 1rem;
}
.form__input_text::placeholder, 
.form__input_textarea::placeholder{
    font-family: var(--fuente1);
    font-size: 1rem;
    letter-spacing: var(--letter-spacing);
    font-weight: 400;
    color: rgb(56, 56, 56);
}
.form__fieldset{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}
.form__fname_field{width: 100%; flex: 0 1 calc(50% - .25rem);}
.form__lname_field{width: 100%;flex: 0 1 calc(50% -  .25rem);}

.form__input_textarea{
    resize: vertical;
    min-height: 6rem;
    max-height: 6rem;
    overflow: scroll;
}
.form__submit{
    grid-column: 2/-1;
    border-radius: .25rem;
    background-color: transparent;
    border: 2px solid #024255;
    color: #024255;
    outline: none;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    padding: .5rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    cursor:pointer;
    transition: background-color 300ms ease-out;
}
.form__submit:hover{
    background-color: #024255;
    transition: background-color 300ms ease-in;
    color:var(--color1)
}

/* Media Queries */
@media screen and (min-width:768px) and (max-width:992px){
    html{
        font-size: 14px;
}
}
@media screen and (max-width:768px){
    html{
        font-size: 12px;
    }
    .menu__list{
        display: none;
    }
    .menu__ham{
        display: flex;
        align-self: center;
        justify-self: flex-end;
        cursor: pointer;
    }
    .services{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .services__title{
        font-size: 1.125rem;
    }
    .form{
        grid-template-rows: repeat(9, auto);
        gap: .5rem;
    }
    .form__label_fname{
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    .form__fieldset{
        grid-row: 2/3;
        grid-column: 1/-1;
    }
    .form__label_email{
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .form__email{
        grid-column: 1/-1;
        grid-row: 4/5;
    }
    .form__label_phone{
        grid-column: 1/-1;
        grid-row: 5/6;
    }
    .form__phone{
        grid-column: 1/-1;
        grid-row: 6/7;
    }
    .form__label_message{
        grid-column: 1/-1;
        grid-row: 7/8;
    }
    .form__message{
        grid-row: 8/9;
        grid-column: 1/-1;
    }
    .form__submit{
        grid-row: 9/-1;
        grid-column: 1/-1;
    }
}